<h1>User info</h1>
<hr>

<div class="row">
    <div class="col-4">
        <h3>Current user: {{userId()}}</h3>
        <button class="btn btn-primary" (click)="loadUser(this.userId() -1)">Before</button> &nbsp;
        <button class="btn btn-primary" (click)="loadUser(this.userId() + 1)">Next</button>
    </div>
    <div class="col-8" *ngIf="userWasFound()">
        <h3>User: </h3>
        <p>Email: {{currentUser()?.email}}</p>
        <p>Name: {{fullName()}} </p>
        <img [src]="currentUser()?.avatar" alt="Avatar">
    </div>
    <div class="col text-danger" *ngIf="!userWasFound()">
        <h3>User no found</h3>
    </div>
</div>
