<app-menu></app-menu>
<router-outlet></router-outlet>

<!-- <div class="text-layout">

    <h1>Hello world</h1>
    <hr>
    <button pButton type="button" label="Click" icon="pi pi-compass" class="p-button-raised p-button-secondary"></button><br>
    <br>
    <p-button label="Click" icon="pi pi-bitcoin" iconPos="right"></p-button>
    <p-card [header]="name | titlecase" subheader="World" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste est officiis nihil at in earum nesciunt cum, nemo veniam a exercitationem dicta ratione! Non quibusdam maiores voluptatum aut, veritatis voluptatibus?
    </p-card>


</div> -->